


body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
  }
  *{
    scroll-behavior: smooth;
  }

  .bold{
    font-weight: bold;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .heading{
    color: #1f5297;
  }

  .show{
    display: block !important;
    transform: translateX(0) !important;
  }

  .hide{
    display: none;
  }


  .fa{
    padding: .5rem;
  }

  .fab{
    background-color: rgb(72, 73, 73);
    border-radius: 3rem;
    margin: .5rem;
  }

  .box{
    width: 50px;
    height: 5px;
    background-color: rgb(64, 160, 224);

    border-radius: 2rem;

  }

  .nav-toggle{
    display: none;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: rgb(64, 160, 224);
    color: #fff;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
  }

  .resume-box{
    padding: .5rem;
    font-size: 13px;
    font-weight: bold;
    background: #f5f8fd;
  }


  /* sidebar */


  .profile{
    width: 100px;
    height: 100px;
    border-radius: 5rem;
    border: 5px solid rgb(59, 59, 61);
  }


  .sidenav {
    padding: 2rem 2rem;
    height: 100%; 
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    text-align: center;
    color: white;
    transition: transform 0.9s ease-out; /* Add a transition property */
  }

  .sidenav-items{
    padding-top: 2rem;
  }

  .sidenav a {
    padding: 1rem;
    text-decoration: none;
    color: white;
    display: block;
    text-align: left;
  }


  .sidenav a:hover {
    color: white;
  }

  .sidenav .fa:hover{
    color: rgb(64, 160, 224);
  }
  

  /* home  */
  .background {
    background-image: url('./img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px; 
    padding: 0px 10px;
    background-attachment: fixed;
  }

   
  .content {
    color: white;
  }




/* about */

  .about{
    padding: 5rem 10rem;
    margin-left: 250px;
   }
   .about-imgs{
     width: 300px;
     height: 300px;
   }

   .about-contents{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .about-text{
     padding-left: 5rem;
   }

   .about h1{
     margin: 0;
     padding: 0;
   }

   .about-details{
     display: grid;
     grid-template-columns: 1fr 1fr;

   }

   .about-icon{
    color: rgb(64, 160, 224);
   }
   

   /* facts */

   .facts{
    padding: 5rem 10rem;
    margin-left: 250px;
   }
   .emojis{
      font-size: 3rem;
      color: rgb(55, 160, 221);
      margin: 0;
      padding: 0;
   }
   .emoji{
    border: 2px solid rgb(55, 160, 221);
    border-radius: 5rem;
    padding: 1rem;
   }
   .fact-text{
    padding-top: 2rem;
    padding-left: 2rem;
   }
   .facts-row{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     padding: 1rem 2rem;
     column-gap: 50px;
   }
   .emoji-color{
    color: #149ddd;
   }
   .facts h1{
      margin: 0;
      padding: 0;

   }
   .facts-col{
    display: flex;
    align-items: center;
    justify-content: center;
   }

   /* skills */

   .skills{
    padding: 5rem 10rem;
    margin-left: 250px;
    background: #f5f8fd;
   }

   .progress{
     display: block;
   }
   .val{
     float: right;
   }
   .progress-bar{
    background: #dce8f8;
    height: 10px;
   }
   .progress-bar-active{
    height: 10px;
    transition: 0.9s;
    background-color: #149ddd;
   }
   .skills-row{
     display: grid;
     grid-template-columns: 1fr 1fr;
   }
   .skills-rows{
     padding: 1rem 1rem 1rem 0rem;
   }
   .skills-col{
     padding: 1rem 0rem;
   }

   /* resume */

   .resume{
     padding: 5rem 10rem;
     margin-left: 250px;
   }
   .resumes-row{
     padding: 1rem;
     display: grid;
     grid-template-columns: 1fr 1fr;
   }
   .resume-heading{
     padding: 0;
     margin: 0px 0px 0px 0px;
     margin-bottom: 20px;
   }
   .resume-item{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
   }
   .resume-item::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -10px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
   }

   .resume li{
     padding: .5rem 0;
   }

  

   /* Portfolio Items */
   .portfolio{
      padding: 5rem 10rem;
      margin-left: 250px;
      background: #f5f8fd;
    }

    .portfolio-items-div{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    .portfolio-items{
      border-radius: 2rem;
      background-color: rgb(235, 240, 240);
      display: flex;
      text-align: center;
   

    }
    .portfolio-items p{
      padding: 10px 20px;
      margin: 0;
      font-size: 12px;
    }
    .portfolio-images-row{
      display: flex;
      padding: 0;
      align-items: center;
      justify-content: center;
    }
    .portfolio-images{
      padding: 1.5rem 0;
    }
    .portfolio-image{
      width: 400px;
      height: 300px;
    }
    .portfolio-img{
      padding: 1rem;
    }


    /* Services */

    .services{
      padding: 5rem 10rem;
      margin-left: 250px;
    }

    .service-icon{
      font-size: 3rem;
      color: rgb(55, 160, 221);
      margin: 0;
      padding: 0;
      
    }
    .services-icon{
      border: 2px solid rgb(55, 160, 221);
      border-radius: 5rem;
      padding: 1rem;
    }
    .services-rows{
      display: flex;
    }
    .services-col{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem ;
    }
    .services-icon-contents p{
      font-size: 13px;
    }
    .services-icon-contents{
      padding-left: 2rem;
    }

    /* testmonials */

    .testmonials{
      padding: 5rem 10rem;
      margin-left: 250px;
      background: #f5f8fd;
    }

    .testmonials-cards{
      display: flex;
      padding: 1rem 2rem;
      column-gap: 50px;
    }
    .testmoials-card{
      padding: 1rem;
      border-radius: .5rem;
      background: #f5f8fd;
      text-align: center;
     
    }

    .testmonials-text{
      padding: 2rem;
      box-shadow: 0 3px 10px rgb(230, 227, 227);

    }
  .testmonials-card-image{
    width: 100px;
    height: 100px;
    border-radius: 3rem;
  }


  /* Contact */

  .contact{
    padding: 5rem 10rem;
    margin-left: 250px;
  }

  .contact-row{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    column-gap: 50px;
    
  }

  .contact-icon{
    padding: 1rem;
    border-radius: 3rem;
    color: rgb(84, 168, 236);
    border: 1px solid rgb(84, 168, 236);
    background-color: rgb(226, 246, 250);
  }

  .contact-col{
    box-shadow: 0 3px 10px rgb(230, 227, 227);
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  .contacts-row{
    display: flex;
    /* align-items: center; */
  }

  .contact-heading{
    padding: 0;
    margin: 0;
  }

  .contacts-text{
    /* padding-top: 1rem; */
    padding-left: 1rem;
  }

  iframe{
    padding: 1rem 0;
    width: 100%;
    height: 30vh;
  }

  .contact input{
    padding: 1rem;
    outline: none;
    border: 1px solid rgb(55, 160, 221);
    border-radius: .5rem; 
  }

  .contact .fa:hover{
    color: white;
    background: rgb(55, 160, 221);

  }

 

  textarea{
    padding: 1rem;
    outline: none;
    border: 1px solid rgb(55, 160, 221);
    border-radius: .5rem; 
    min-height: 200px;

  }

  .form-control{
    display: block;
    padding: 1rem;
  }

   
  input{
    width: 80%;
  }
  .textarea{
    width: 80%;
  }
  .btn{
    padding: 1rem;
    border-radius: .5rem;
    background-color: rgb(55, 160, 221);
    color: white;
    border: none;
    outline: none;
  }



  .uparrow{
    float: right;
  }
  .up{
    background-color: rgb(55, 160, 221);
    padding: .3rem;
    color: white;
    border-radius: 4rem;
    margin: 1rem;
  }
/* footer */

  .footer{
    padding: 1rem 2rem;
    color: #f4f6fd;
    background-color: #111; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 185px;
    z-index: 9999;
    text-align: center;
    font-size: 13px
  }
  


  


  @media (max-width: 576px) {

    .sidenav {
      display: none;
    }

    
    .nav-toggle{
      display: inline-flex;
    }

    .background{
      margin: 0;
    }
    .about{
      padding: 1rem 1rem;
      margin: 0;
     }
     .about-contents{
      flex-direction: column;
     }
     .about-details{
      grid-template-columns: 1fr;
    }
    .about-text{
      padding: 1rem;
    }
   
    .facts{
      padding: 1rem;
      margin: 0;
    }

    .facts-row{
      grid-template-columns: 1fr;
    }
    .skills{
      margin: 0;
      padding: 1rem;
    }
    .skills-row{
      grid-template-columns: 1fr;
    }

    .resume{
      margin: 0;
      padding: 1rem;
    }
    .resumes-row{
      grid-template-columns: 1fr;
    }

    .portfolio{
      padding: 1rem;
      margin: 0;
    }
    .portfolio-images-row{
      padding: 1rem;
      flex-direction: column;
    }

    .services{
      margin: 0;
      padding: 1rem;
    }
    .services-rows{
      flex-direction: column;
    }

    .testmonials{
      padding: 1rem;
      margin: 0;
    }
    .testmonials-cards{
      flex-direction: column;
    }
    .testmonials-card{
      padding: 0;
    }
    .portfolio-image{
      width: 300px;
      height: 200px;
    }
    .testmonials-cards{
      padding: 1rem;
    }
    .contact{
      margin: 0;
      padding: 1rem;
    }
    .contact-row{
      grid-template-columns: 1fr;
    }
    .footer{
      display: none;
    }
   
    input{
      width: 80%;
    }
    .textarea{
      width: 80%;
    }
    .contact-col{
      padding: 1rem;
    }

   }


   /* For Tab Device */
   @media only screen and (min-width: 577px) and (max-width: 768px) {
    .sidenav{
      display: none;
    }
    .nav-toggle{
      display: inline-flex;
    }

    .background{
      margin: 0;
    }
    .about{
      padding: 1rem 5rem;
      margin: 0;
     }
     .about-contents{
      flex-direction: column;
     }
     .about-details{
      grid-template-columns: 1fr;
    }
    .about-text{
      padding: 1rem;
    }

    .facts{
      padding: 1rem 5rem;
      margin: 0;
    }

    .facts-row{
      grid-template-columns: 1fr;
    }
    .skills{
      margin: 0;
      padding: 1rem 5rem;
    }
    .skills-row{
      grid-template-columns: 1fr;
    }

    .resume{
      margin: 0;
      padding: 1rem 5rem;
    }
    .resumes-row{
      grid-template-columns: 1fr;
    }

    .portfolio{
      padding: 1rem 5rem;
      margin: 0;
    }
    .portfolio-images-row{
      padding: 1rem;
      flex-direction: column;
    }

    .services{
      margin: 0;
      padding: 1rem 5rem;
    }
    .services-rows{
      flex-direction: column;
    }

    .testmonials{
      padding: 1rem 5rem;
      margin: 0;
    }
    .testmonials-cards{
      flex-direction: column;
    }
    .testmonials-card{
      padding: 0;
    }
    .portfolio-image{
      width: 300px;
      height: 200px;
    }
    .testmonials-cards{
      padding: 1rem;
    }
    .contact{
      margin: 0;
      padding: 1rem 5rem;
    }
    .contact-row{
      grid-template-columns: 1fr;
    }
    .footer{
      display: none;
    }
   
    input{
      width: 80%;
    }
    .textarea{
      width: 80%;
    }
    .contact-col{
      padding: 1rem;
    }

    }


    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      .sidenav {
        padding: 1rem;
        height: 100%; 
        width: 220px; 
      }
      .background {
        margin-left: 150px; 
        padding: 0px 10px;
      }
      .about{
        padding: 1rem 2.5rem;
      }
      .about-contents{
        flex-direction: column;
      }
      .facts{
        padding: 1rem 2.5rem;
      }
      .facts-row{
        grid-template-columns: 1fr;
      }
      .skills{
        padding: 1rem 2.5rem;
      }
      .resume{
        padding: 1rem 2.5rem;
      }
      .portfolio{
        padding: 1rem 2.5rem;
      }
      .portfolio-images-row{
        flex-direction: column;
      }
      .services{
        padding: 1rem 2.5rem;
      }
      .services-rows{
        flex-direction: column;
      }
      .testmonials{
        padding: 1rem 2.5rem;
      }
      .testmonials-cards{
        padding: 1rem 3rem;
        flex-direction: column;
      }
      .contact{
        padding: 1rem 2.5rem;
      }
      .contact-row{
        grid-template-columns: 1fr;
      }



    }

    @media only screen and (min-width: 1024px) and (max-width: 1440px) {
      .about{
        padding: 1rem 2.5rem;
      }
      .sidenav {
        padding: 1rem;
        height: 100%; 
        width: 220px; 
      }
      .portfolio-image{
        width: 200px;
        height: 150px;
      }

      .facts{
        padding: 2rem 2.5rem;
      }

      .skills{
        padding: 2rem 2.5rem;
      }

      .resume{
        padding: 2rem 2.5rem;
      }

      .portfolio{
        padding: 2rem 2.5rem;
      }

      .services{
        padding: 2rem 2.5rem;
      }
      .testmonials{
        padding: 2rem 2.5rem;
      }
      .contact{
        padding: 2rem 2.5rem;
      }

    }
